.picsum-img-wrapper img {
    height: 700px;
    width: 100%;
}
.carousel-caption{
    background-color: rgb(172 135 135 / 80%);
    padding: 36px !important;
    width: 50%;
    right: 17%;
    bottom: 4.25rem;
    left: 25%;
}